# Disable touchpad when an USB or bluetooth mouse is plugged in
#
SUBSYSTEM=="input", ACTION=="add", ENV{ID_INPUT_MOUSE}=="1", ENV{ID_BUS}=="bluetooth|usb", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/veger/.Xauthority", ENV{DBUS_SESSION_BUS_ADDRESS}="unix:path=/run/user/1000/bus", RUN+="/usr/bin/su veger -c 'systemd-cat -p info /usr/bin/touchpad-toggle disable'"
SUBSYSTEM=="input", ACTION=="remove", ENV{ID_INPUT_MOUSE}=="1", ENV{ID_BUS}=="bluetooth|usb", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/veger/.Xauthority", ENV{DBUS_SESSION_BUS_ADDRESS}="unix:path=/run/user/1000/bus", RUN+="/usr/bin/su veger -c 'systemd-cat -p info /usr/bin/touchpad-toggle enable'"
